.header{
  background-image: url('../images/bg.jpg');
}

#deletebtn,#percent{
  display: none;
}
ul li{
  cursor: pointer;
}
ul li:hover #deletebtn,ul li:hover #percent,.item:hover #percent {
 display: block;
}